#center {
  width:850px;
  margin-left:25px;
}
#ticker {
 background-color: #ebebeb;
 border: 1px solid #ccc;
 padding: 3px;
 padding-top: 3px;
 padding-left:70px;
 width:777px;
 margin-top:10px;
}
.news {
   position: absolute;
   margin-left: -63px;
   color: #4d4d4d;
}
.news:hover {
  text-decoration: none;
  color: #5ba232;
}
ul#news {
 list-style: none;
 margin: 0;
 padding: 0;
}
ul#news li {
 margin: 0;
}
#news a {
  color:#4b4b4b;
  text-decoration: none;
}
#news a:hover {
  text-decoration: none;
  color: #5ba232;
}
#news .date {
  color:#8c8c8c;
  padding-right: 5px;
}
.what_is {
  width:395px;
  margin-top: 30px;
  float:left;
}
.what_is h1 {
  font-size: 14pt;
  color: #4d4d4d;
  font-weight: normal;
}
.what_is p {
  margin-top:7px;
  text-align: justify;
}
.opinion {
  width:435px;
  margin-left:20px;
  margin-top: 30px;
  float: left;
  background: url(/images/opinion_logo.gif) no-repeat 0px 27px;
}
.opinion .title {
  font-size: 14pt;
  margin-left:33px;
}
.opinion p {
  margin-top:4px;
  text-align: left;
  border-left: 1px #d9d9d9 solid;
  margin-left: 20px;
  padding-left:13px;
  padding-bottom:0px;
}
.opinion .info {
  color: #646464;
  font-style: italic;
}
.opinion a {
  margin-left:33px;

}

div#feature_list {
  width: 850px;
	height: 255px;
	overflow: hidden;
	position: relative;
	display: block;
  margin-top:40px;
  margin-bottom:5px;
}
div#feature_list ul {
  position: absolute;
	top: 0;
	list-style: none;	
}
ul#tabs {
  left: 0;
	z-index: 2;
	width: 360px;    
}
ul#tabs li {
  font-size: 12px;
	font-family: Arial;   
}
ul#tabs li img {
  padding: 5px;
	border: none;
	float: left;
	margin: 10px 10px 0 0;
}
ul#tabs li a {
  color: #222;
	text-decoration: none;	
	display: block;
	padding: 10px;
	height: 60px;
	outline: none; 
}
ul#tabs li a.current {
  background:  url('../images/start/feature-tab-current.png');
	color: red;
}
ul#tabs li a.current:hover {
  text-decoration: none;
	cursor: default;
}
ul#output {
  right: 0;
	width: 533px;
	height: 245px;
	position: relative;
}
ul#output li {
	position: absolute;
	width: 551px;
	height: 245px;
}
ul#output li a {
  position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 8px 12px;
	text-decoration: none;
	font-size: 11px;
	color: #000;
	background: #f1f1f1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px #cccccc solid;
}
ul#output li a:hover {
  background: #929292;
	color: white;
  border: 1px #929292 solid;
}
div#feature_list .title {
  margin: 0;	
	padding: 15px 0 0 0;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}
div#feature_list span {
  display: block;
}

.pagecontent
{
	 background-color: #ebebeb;
	 border: 1px solid #ccc;
	 padding: 10px;
	 width:831px;
	 margin-top:10px;
	 min-height: 300px;
}

.pagecontent p
{
    text-align: justify;
}


.pagecontent p img
{
    float: left;
    clear: right;
    margin-right: 5px;
    margin-bottom: 5px;
}
